@import "tailwindcss";

body{
    font-family: "Montserrat", serif;
    box-sizing: border-box;
    background: #f1f1f1;
}
.MuiBadge-badge{
  background: #ff5252 !important ;
}

.ReactCollapse--collapse{
  transition: height 300ms;
}
::-webkit-scrollbar{
  width:10px !important;
  height: 10px !important;
}

::-webkit-scrollbar-thumb{
 background: #ccc !important ;
}
.btn-blue{
  background: #3872fa !important;
  color: #fff !important;
  padding: 8px 20px !important;
}
.btn svg{
  font-size:20px ;
}
.btn-sm{
  padding:6px 20px !important;
  font-size: 13px !important;
}
.btn-lg{
  padding:8px 20px !important;
  font-size: 16px !important;
}
.btn-blue:hover{
 background: #3067e5 !important; 
}
th .MuiTableRow-root {
  background: #f1f1f1;
}
a.active button{
  background: #e8e8e8 !important;
}
.css-d8i980-MuiButton-startIcon svg {
  font-size: 27px !important;
}
.css-rizt0-MuiTypography-root {
  font-size: 14px !important;
}
.css-1a7iywq-MuiTableHead-root th {
  background: #f1f1f1 !important;
}
.css-35pwe3-MuiPaper-root-MuiAppBar-root {
  background: #e6e6e6 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

.MuiSelect-select {
  background: #fff !important;
}
.css-l09ud3-MuiPaper-root-MuiDialog-paper {
  background: #f9fafb !important;
}
.MuiTableBody-root tr:nth-child(even){
  background: #fbfbfb  !important;
}
.react-international-phone-input{
  width: 100% !important;
}

.react-international-phone-country-selector-button__button-content {
  width: 55px !important;
}

.react-international-phone-input-container{
  border: 1px solid rgba(0, 0, 0, 0.1) !important ;
}

.Mui-focused fieldset legend{
  display: none !important;
}


.ZoomProductSliderThumbs.space .swiper-wrapper{
   padding-top: 38px !important ;
   position: relative;
   top: 40px;
}
.ZoomProductSliderThumbs .swiper-slide{
  position: relative;
  top: 30px !important;
  height: 100px !important;
  overflow: hidden ;
  border-radius: 5px;
}

.ZoomProductSliderThumbs .swiper-button-next {
  bottom:0px !important ;
  left: 20px !important;
  width:100% !important ;
  height: 30px !important;
  border-radius: 0px !important;
}

.ZoomProductSliderThumbs .swiper-button-next::after, .ZoomProductSliderThumbs .swiper-button-prev::after{
  transform: rotate(90deg);
}

.ZoomProductSliderThumbs .swiper-button-prev{
  
  left: 20px !important;
  top: 0px !important;
  width:100% !important ;
  height: 30px !important;
  border-radius: 0px !important;
}

.ZoomProductSliderThumbs .swiper-slide .item{
  opacity: 0.3 !important;
}

.swiper-slide .iiz{
  height: 500px !important;
  overflow: hidden !important;
}

.productContent .actions button{
  min-width: 40px !important;
  height: 30px !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.swiper-button-prev,.swiper-button-next{
  display: flex !important ; align-items: center !important ;justify-content: center !important; background: #fff ; border-radius: 100% !important; width: 45px !important ; height: 45px !important; min-width: 45px ;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important; transition: all 0.2s;
  color: #000 !important;
}

.swiper-button-prev::after,.swiper-button-next::after{
  font-size: 22px !important;
  color: #000 ;
}

.smtBtn .swiper-button-prev, .smtBtn .swiper-button-next{
   width: 30px !important;
   height: 30px !important;
   min-width: 30px !important;
   top: 50% !important;
}

.smtBtn .swiper-button-prev::after,.smtBtn .swiper-button-next::after{
  font-size: 18px !important;
  color: #000 ;
}