/* @import "tailwindcss"; */

/* *{ box-sizing: border-box;}

body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color:rgba(0,0,0,0.8) ;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width:  10px !important;
  height: 10px !important;
}

::-webkit-scrollbar-thumb{
  background: #ff5252;
}

::-webkit-scrollbar-track{
  background: #fff;
}

.container{width :95%; margin: auto;}

header .top-strip{}

.bg-org{background-color: #ff5252;}

.link:hover{color: #ff5252;}

.MuiBadge-badge{background-color: #ff5252 !important;}

nav ul button {text-transform: capitalize !important;  }
nav ul button:hover {background: none !important;}

.sliderhome{
   overflow: inherit !important;
}

.swiper-button-prev,.swiper-button-next{
  display: flex ; align-items: center ;justify-content: center; background: #fff ; border-radius: 100% ; width: 45px ; height: 45px ; min-width: 45px ;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important; transition: all 0.2s;
}

.swiper-button-prev::after,.swiper-button-next::after{
  font-size: 12px !important;
  color: #000 ;
}

.smtBtn .swiper-button-prev, .smtBtn .swiper-button-next{
   width: 30px !important;
   height: 30px !important;
   min-width: 30px !important;
   top: 50% !important;
}

.smtBtn .swiper-button-prev::after,.smtBtn .swiper-button-next::after{
  font-size: 18px !important;
  color: #000 ;
}

.homeCatslider{
  overflow: inherit !important;
}


.homeCatslider .swiper-button-prev{
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
}

.homeCatslider .swiper-button-prev::after{
  font-size:  16px !important;
}

.homeCatslider .swiper-button-next{
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
}

.homeCatslider .swiper-button-next::after{
  font-size:  16px !important;
}

.homeCatslider .swiper-button-prev{
  left: -10px !important;
}
.homeCatslider .swiper-button-next{
  right: -10px !important;
}

.homeCatslider .items{border: 1px solid rgba(0,0,0,0.1) !important;}

.homeCatslider .swiper-button-next:hover,
.homeCatslider .swiper-button-prev:hover {
  background: #ff5252 !important;
}


.homeCatslider .swiper-button-next:hover::after,
.homeCatslider .swiper-button-prev:hover::after {
  color: #fff !important;
}

.homeCatslider .items:hover{
  transform: scale(1.1);
} */