@import "tailwindcss";

*{ box-sizing: border-box;}

body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color:#666 ;
  overflow-x: hidden;
}

p{
  font-size: 14px;
  
  line-height: 25px;
}
::-webkit-scrollbar{
  width:  10px !important;
  height: 10px !important;
}

::-webkit-scrollbar-thumb{
  background: #ff5252;
}

::-webkit-scrollbar-track{
  background: #fff;
}
.overflow-x-auto::-webkit-scrollbar-thumb{
  background: #ccc;
}

.btn-org{
  background: #ff5252 !important;
  color: #fff !important;
  font-weight: 500;
  font-size: 16px;
  padding: 7px 20px !important;
}

.btn-org:hover{
  background-color: #171717 !important;
}


.btn-org.btn-border{
  background: none !important;
  color: #ff5252 !important;
  font-weight: 500;
  font-size: 16px;
  padding: 7px 20px !important;
  border: 1px solid #ff5252 !important;
}

.btn-org.btn-border:hover{
  background: #171717 !important;
  color: #fff !important;
}



.link:hover{
  color: #ff5252;
}
.container{width :95%; margin: auto;}

header .top-strip{}

.bg-org{background-color: #ff5252;}

.btn-lg{
   font-size: 18px;
   padding: 10px 20px !important;
}

.btn-sm{
   font-size: 12px !important;
   padding: 5px 20px !important;
}

.link:hover{color: #ff5252;}

.MuiBadge-badge{background-color: #ff5252 !important;}

nav ul button {text-transform: capitalize !important;  }
nav ul button:hover {background: none !important;}

.scroll::-webkit-scrollbar{
   width: 5px !important;
}

.scroll::-webkit-scrollbar-thumb{
  background: #ccc !important;
}

.sliderhome{
   overflow: inherit !important;
}

.swiper-button-prev,.swiper-button-next{
  display: flex !important ; align-items: center ;justify-content: center; background: #fff ; border-radius: 100% ; width: 45px ; height: 45px ; min-width: 45px ;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important; transition: all 0.2s;
}

.swiper-button-prev::after,.swiper-button-next::after{
  font-size: 12px !important;
  color: #000 ;
}

.smtBtn .swiper-button-prev, .smtBtn .swiper-button-next{
   width: 30px !important;
   height: 30px !important;
   min-width: 30px !important;
   top: 50% !important;
}

.smtBtn .swiper-button-prev::after,.smtBtn .swiper-button-next::after{
  font-size: 18px !important;
  color: #000 ;
}

.homeCatslider{
  overflow: inherit !important;
}


.homeCatslider .swiper-button-prev{
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
}

.homeCatslider .swiper-button-prev::after{
  font-size:  16px !important;
}

.homeCatslider .swiper-button-next{
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
}

.homeCatslider .swiper-button-next::after{
  font-size:  16px !important;
}

.homeCatslider .swiper-button-prev{
  left: -10px !important;
}
.homeCatslider .swiper-button-next{
  right: -10px !important;
}

.homeCatslider .items{border: 1px solid rgba(0,0,0,0.1) !important;}

.homeCatslider .swiper-button-next:hover,
.homeCatslider .swiper-button-prev:hover {
  background: #ff5252 !important;
}


.homeCatslider .swiper-button-next:hover::after,
.homeCatslider .swiper-button-prev:hover::after {
  color: #fff !important;
}

.homeCatslider .items:hover{
  transform: scale(1.1);
}

.MuiTabs-indicator{
    background-color: #ff5252 !important ;
}
.MuiTab-textColorPrimary .Mui-selected{
    color: #ff5252 !important;
}

.productSlider .swiper-wrapper{
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;

}

footer form input::placeholder{
  font-size:14px ;
}

.css-vuhw6e-MuiButtonBase-root-MuiSwitchBase-root-MuiCheckbox-root.Mui-checked, 
.css-vuhw6e-MuiButtonBase-root-MuiSwitchBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate{
 color: #ff5252 !important;
}

.MuiFormControlLabel-label{
  font-size:13px !important ;
  color: rgba(0,0,0,0.8) !important;
}

.MuiCheckbox-root{
  padding: 6px !important;
}

.ReactCollapse--collapse{
  transition:height 400ms;
}

.itemViewAction  button  svg{
  color: #ff5252 !important;
  opacity: 1;
}

.css-1l5xwdx-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background: #ff5252 !important;
  color: #fff !important;
}

.ZoomProductSliderThumbs .swiper-wrapper{
   padding-top: 38px !important ;
   
}

.ZoomProductSliderThumbs .swiper-button-next {
  bottom:0px !important ;
  right: inherit  !important;
  top: inherit  !important;
  width:100% !important ;
  height: 30px !important;
  border-radius: 0px !important;
}

.ZoomProductSliderThumbs .swiper-button-next::after, .ZoomProductSliderThumbs .swiper-button-prev::after{
  transform: rotate(90deg);
}

.ZoomProductSliderThumbs .swiper-button-prev{
  
  left: 0px !important;
  top: 20px !important;
  width:100% !important ;
  height: 30px !important;
  border-radius: 0px !important;
}

.ZoomProductSliderThumbs .swiper-slide .item{
  opacity: 0.3;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

.iiz__img {
  border-radius: 10px ;
  overflow: hidden;
}
.reviewScroll ::-webkit-scrollbar{
  width: 5px !important;
}
.reviewScroll ::-webkit-scrollbar-thumb{
  background:#ccc !important ;
}

.cartPanel .css-y7ab46-MuiPaper-root-MuiDrawer-paper{
   width: 400px;
   overflow: hidden;
}

#size-menu .css-1rju2q6-MuiButtonBase-root-MuiMenuItem-root {
  font-size: 12px !important;
}

.otpBox input{border: 1px solid rgba(0,0,0,0.1) !important; outline: none !important; border-radius: 4px;}

.otpBox input:focus{
  border: 1px solid rgba(0,0,0,0.7) !important;
}

.otpPage .container{
  height: 90vh; display: flex;
}

#account-menu .css-1toxriw-MuiList-root-MuiMenu-list {
  width: 200px;
}

.myAccountTabs li a{
  position: relative; 
  display: block;
}

.myAccountTabs li a:before{
  content: "";
  width: 3px;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 0px;
  background: #ff5252;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.myAccountTabs li a.active::before{
  height: 100%;
  opacity: 1;
  top: 0px;
}

.myAccountTabs li a.active button svg{
  color: #ff5252 !important;
  opacity: 1 !important;
}